:root {
    --terciary: #0d1322;
    --secondary: #242834;
}
/*Globales*/
html {   
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {   
    font-size: 16px; /* 1rem = 10px */
}
#particles-js {
    background: radial-gradient(var(--secondary) 10%, var(--terciary)100%);
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: -1;
}
/* Logo inicio */

.starContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background: radial-gradient(var(--secondary) 10%, var(--terciary)100%); */
    height: 100vh;
    width: 100%;
    animation-name: encogimiento;
    animation-duration: 5s;
    animation-timing-function: ease-in;
    position: relative;
    z-index: 99;
}
.textContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.constarllation {
    display: block;
    color: transparent;
    font-size: 10rem;
    letter-spacing: 3rem;
    animation-name: encogimiento;
    animation-duration: 5s;
    animation-timing-function: ease-in;
}
.s {
    animation-name: destello;
    animation-duration: 1s;
    animation-timing-function: linear;
}
.t {
    animation-name: destello;
    animation-duration: 1.5s;
    animation-timing-function: linear;
}
.a {
    animation-name: destello;
    animation-duration: 2s;
    animation-direction: reverse;
    animation-timing-function: linear;
}
.r {
    animation-name: destello;
    animation-duration: 1.7s;
    animation-direction: reverse;
    animation-timing-function: linear;
}
@keyframes encogimiento {
    100% {
        font-size: 0.1rem;
        color: white;
    }
}
@keyframes destello {
    20% {
        color: white;
    }
}
/* Botón */
/* .getInContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}
.button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    text-decoration: none;
    margin: auto;
    color: white;
    letter-spacing: .5rem;
    padding: 1.5rem 3.5rem;
    font-size: 2.5rem;
    transition: .3s;
    position: relative;
    top: 20rem; 
}
.icon {
    margin: auto;
    stroke: white;
    transition: .3s;
    text-align: center;
}
.getInContainer:hover >.button, .icon {
    cursor: pointer;
    transform: scale(1.03);
    color: gray;
    stroke: gray;
} */